<div class="acs-contact-us-body">
    <div class="acs-contact-us-body__title">
        Contact Us
    </div>
    <div class="acs-contact-us-body__content">
        <div class="acs-contact-us-body__content__contact">
            Please feel free to talk to us if you have questions. We endevour to answer within 24 hours.
            <acs-input icon="user" placeholder="Name"></acs-input>
            <br/>
            <acs-input icon="envelope" placeholder="Email"></acs-input>
            <br/>
            <acs-input icon="phone" placeholder="Phone"></acs-input>
            <br/>
            <textarea></textarea>
            <br/><br/>
            <button>Send Message</button>

        </div>
        <div class="acs-contact-us-body__content__socials">
            Address, Phone, Social Media
        </div>
    </div>
</div>