/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.acs-page-title {
    background-color: #73C7C7;
    color: #ffffff;
    padding: 20px;
}
